const API_ADDRESS = "https://iotapes.dlt.green/api/v1/addresses/"; // Iota node API to get wallet balance
const BOT_TOKEN = process.env.API_TOKEN; // Discord-API Bot-Token, set it as environment variable "API_TOKEN" or replace process.env.API_TOKEN with "YOUR_API_TOKEN"
const MONGODB_URI = process.env.MONGODB_URI; // The connection uri of your mongodb instance
const MONGODB_DATABASE = "Soonaverse-Discord-Bot"; // The MongoDB database to use
const MONGODB_COLLECTION = "identity"; // The MongoDB collection to use
const WALLET_LIST = [
    "YOUR_WALLET_ADDRESS_1",
    "YOUR_WALLET_ADDRESS_2"
]; // A List of Treasury-Wallets
const USE_SMR_NATIVE_COLLECTIONS = false; // Use Smr native nft collections for the rolemanager.
const SMR_API = "https://iotapes.dlt.builders/"; // Shimmer-Node address
const SMR_COLLECTION_IDS = []; // The native SMR collection ids (they're not equal to soonaverse collection ids!)
const USE_SOONAVERSE_COLLECTIONS = true; // Use soonaverse collections for the rolemanager.
const SOONAVERSE_COLLECTION_IDS = ['YOUR_NFT_COLLECTION_ID1',
                        'YOUR_NFT_COLLECTION_ID2'
]; // Ids of the NFT-Collections on Soonaverse
const GUILD_ID = "YOUR_DISCORD_GUILD_ID"; // Id of the discord server
const GRANT_ROLES_TO_NFT_HOLDERS = true; // Enable NFT-RoleManager feature
const SHOW_TREASURY_INFO = false; // Enable treasury as nickname
const ROLES_TABLE = [ // A table of roles depending on the minimum amount of NFT hold, only role 0 and the highest role is granted
    {roleid : "967913955408359434", reqNFTs : 0}, // 0 is granted to every NFT-Owner
    {roleid : "968142647833288704", reqNFTs : 1},
    {roleid : "968142737599762442", reqNFTs : 2},
    {roleid : "968142913664069642", reqNFTs : 4},
    {roleid : "968142985650917376", reqNFTs : 6},
    {roleid : "968143069847379969", reqNFTs : 8},
    {roleid : "968143117540786197", reqNFTs : 11},
    {roleid : "968143164982591509", reqNFTs : 14},
    {roleid : "968143214483742740", reqNFTs : 17},
    {roleid : "968143256938483752", reqNFTs : 21}
];
const USE_SMREVM_COLLECTIONS = true;
const SMR_EVM_CONTRACTS = [
    "0xf640ed4ADFD525a3DEae9FA76a840898d61009C1",
    "0x3F5ae5270b404fF94BB4d2f15A4f3b46f16470D1"
];
const REGISTER_APPLICATION_COMMANDS = true;
const SOONAVERSE_API_KEY = "";

export {API_ADDRESS};
export {BOT_TOKEN};
export {MONGODB_URI};
export {MONGODB_DATABASE};
export {MONGODB_COLLECTION};
export {USE_SMR_NATIVE_COLLECTIONS};
export {SMR_API};
export {SMR_COLLECTION_IDS};
export {WALLET_LIST};
export {USE_SOONAVERSE_COLLECTIONS};
export {SOONAVERSE_COLLECTION_IDS};
export {GUILD_ID};
export {GRANT_ROLES_TO_NFT_HOLDERS};
export {SHOW_TREASURY_INFO};
export {ROLES_TABLE};
export {USE_SMREVM_COLLECTIONS};
export {SMR_EVM_CONTRACTS};
export {REGISTER_APPLICATION_COMMANDS};
export {SOONAVERSE_API_KEY};